body{
    background-color: rgba(75, 157, 230, 0.719);
}
h1{
    text-align: center;
}
p{
    background-color: rgba(0, 255, 255, 0.747);
    color: red;
    width: 350px;
    height: 500px;
    text-align: justify;
    padding: 4px;
    border: 2px solid green;
    border-radius: 5px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8em;
}
img{
    width: 500px;
    height: 800px;
    
}